:root {
    --left-side: 40vw;
    --logo-font-family: 'Sacramento', cursive;
    --form-font-family: 'Questrial', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.image-container {
    width: var(--left-side);
    height: 100vh;
    background: url('mathilde-langevin-3s09ZLMhj3c-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.logo {
    font-family: var(--logo-font-family);
    font-size: 1.35rem;
    background-color: #55554a73;
    width: inherit;
    height: fit-content;
    position: relative;
    padding: 15px 15px;
    display: flex;
    top: 5vh;
}

.form-container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #f4f8e2;
    font-family: var(--form-font-family)
}

.form-desc {
    font-size: 1.15rem;
    letter-spacing: 0.075rem;
}

.sign-up-text {
    padding: 1rem 0;
}

li {
    list-style: none;
    padding: 0.5rem 0;
    font-size: 1rem;
}

button {
    background-color: #ac8f52;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--form-font-family);
}

/* @media only screen and (min-width: 600px) {
    
} */